apiVersion: kubeadm.k8s.io/v1beta4
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: {{ k8s_control_plane_secondary_cluster_endpoint }}:6443
    token: {{ k8s_control_plane_secondary_join_command.split()[4] }}
    caCertHashes:
      - {{ k8s_control_plane_secondary_join_command.split()[6] }}
controlPlane:
  certificateKey: {{ k8s_control_plane_secondary_certificate_key }}
